/* CSS Entry Point */

// Turn on freq used libraries
@import 'normalize-css/normalize';
// @import 'font-awesome/scss/font-awesome';

$size: 50px;
$light: rgb(245, 241, 138);
$dark: rgb(29, 24, 4);
$right: calc(100% - 220px);


* {
  font-family: fantasy;
}

a {
  text-decoration: none;
  color: $dark;
  font-size: 35px;
}

.app {
  display: flex;
  // justify-content: center;
}
.main {
  width: 100%;
  display: flex;
  aside {
    background: rgb(52, 37, 75);
    display: flex;
    flex-direction: column;
    padding: 18px;
    a {
      border: 4px solid rgb(233, 225, 26);
      color: white;
      font-size: 20px;
      text-align: center;
      margin-bottom: 10px;
      padding: 4px;
    }
  }
  .view-wrapper {
    width: $right;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
  }
}
.con_list {
  background: $light;
  color: $dark;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    &:first-child {
      border-top: 2px solid black;
    }
    border-bottom: 2px solid black;

  }
  img {
    height: $size;
    width: $size;
    border-radius: 100%;
  }
}
.form-wrapper {
  background-color: $light;
  padding: 10px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .drop {
    width: 400px;
    height: 200px;
    .img-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    img {
      height: 200px;
    }
  }
  button {
    align-self: center;
  }
}
//// Simple Serial Form ////
.ssf {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
  // background-color: $light;
  label {
    color: $dark;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    width: calc(100% - 80px);
  }
  input {
    border: 4px solid rgb(54, 50, 48);
    width: 65%;
  }
}
//// Single Contact View ////

.single {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    height: 300px;
  }
}
